doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		title Recogidas OSL
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script.
			$(document).ready(function() {
			var spreadsheetID = "14VBFToWRlDLs5ur7p49cDnE_tYbt9PJgEe2A65B0Gqs";
			var url = "https://spreadsheets.google.com/feeds/list/" + spreadsheetID + "/od6/public/values?alt=json";

			$.getJSON(url, function(data) {
			var entry = data.feed.entry;
			var items = [];
			var i = 1;

			$(entry).each(function(){
			items.push("<li id='" + i + "'>" + "Nº " + i + ": <ul>" +
			"<li> Fecha: " + this.gsx$timestamp.$t + "</li>" +
			"<li> Nombre: " + this.gsx$nombre.$t + "</li>" +
			"<li> Apellidos: " + this.gsx$apellidos.$t + "</li>" +
			"<li> Centro: " + this.gsx$organizaciónocentro.$t + "</li>" +
			"<li> Departamento: " + this.gsx$departamento.$t + "</li>" +
			"<li> Correo: " + this.gsx$correoelectrónico.$t + "</li>" +
			"<li> Teléfono: " + this.gsx$teléfono.$t + "</li>" +
			"<li> Dirección: " + this.gsx$dirección.$t + "</li>" +
			"<li> Elemento: " + this.gsx$elemento.$t + "</li>" +
			"<li> Modelo: " + this.gsx$modelo.$t + "</li>" +
			"<li> Cantidad: " + this.gsx$cantidad.$t + "</li>" +
			"<li> Estado: " + this.gsx$estado.$t + "</li>" +
			"</ul>" + "</li>");
			i++;
			});
			$("<ul/>", {
			html: items.join("")
			}).appendTo("body");
			});
			});
	body
		h1 Recogidas OSL
